<header class="header">
  <div class="container-header">
    <nav class="header-link">
      <a class="header-logo" href="index.html">
        <svg class="header-logo-svg">
          <use href="./public/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-link-nav">
        <li class="header-link-nav-li">
          <a class="header-link-text current" href="index.html">HOME</a>
        </li>
        <li class="header-link-nav-li">
          <a class="header-link-text shopping" href="./shoping-list.html"
            >SHOPPING LIST
            <svg class="header-shopping-icon">
              <use href="./public/symbol-defs.svg#icon-shopping"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <ul class="container_switch">
      <li class="header-switch-li">
        <label class="switch">
          <input type="checkbox" class="theme_checkbox" />
          <span class="slider_round"></span>
        </label>
      </li>
      <li class="header-switch-li menu-btn-wrapper">
        <button
          class="menu-button js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="burger-btn">
            <use href="./public/symbol-defs.svg#icon-align-left"></use>
          </svg>
        </button>
        <button class="menu-toggle js-close-menu js-is-hide">
          <svg class="close-icon">
            <use href="./public/symbol-defs.svg#icon-x-close"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</header>
<div class="menu-container js-menu-container">
  <ul class="burger-link-nav">
    <li class="burger-link-nav-li">
      <a class="burger-text current" href="index.html">HOME</a>
    </li>
    <li class="burger-link-nav-li">
      <a class="burger-text shopping" href="./shoping-list.html"
        >SHOPPING LIST
        <svg class="burger-shopping-icon">
          <use href="./public/symbol-defs.svg#icon-shopping"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<div class="sign-up-block">
  <!-- <button type="button" class="sign-up-btn"> -->
  <button type="button" class="sign-up-btn">
    <span class="sign-up-btn-text">Sign up</span>
    <svg class="right-arrow-icon" width="23" height="26">
      <use href="./public/sprite.svg#icon-right_arrow"></use>
    </svg>
  </button>
  <div class="content-auth">
    <button type="button" class="user-btn visually-hidden">
      <img
        width="30"
        height="30"
        src="https://img.icons8.com/?size=512&id=63980&format=png"
        alt="icn"
      />
      <span class="userName"></span>
      <svg class="right-arrow-icon" width="23" height="36">
        <use href="./public/sprite.svg#icon-triangle"></use>
      </svg>
    </button>

    <button type="button" class="sign-out-btn sign-out-des">
      <span class="sign-up-btn-text">Log out</span>
      <svg class="right-arrow-icon" width="20" height="20">
        <use href="./public/sprite.svg#icon-right_arrow"></use>
      </svg>
    </button>
  </div>
</div>
