<div class="form-box" style="display: none">
  <form class="form">
    <button class="registration-close-btn">
      <svg class="registration-close-icon" width="28" height="28">
        <use href="./public/sprite.svg#close-icon"></use>
      </svg>
    </button>
    <div class="form-container">
      <div class="register-wraper">
        <input
          type="text"
          class="input-register name-js"
          placeholder="Full Name"
        />
      </div>

      <div class="register-wraper">
        <input
          type="email"
          class="input-register email-js"
          placeholder="Email"
        />

        <svg class="icon-email" width="28" height="28">
          <use href="./public/sprite.svg#mail-icon"></use>
        </svg>
      </div>
      <div class="register-wraper">
        <input
          type="password"
          class="input-register password-js"
          placeholder="Password"
        />
        <svg class="icon-password" width="28" height="28">
          <use href="./public/sprite.svg#lock-icon"></use>
        </svg>
      </div>
    </div>
    <button type="submit" class="btn-main-submit js-submit-up">Sign up</button>
    <button type="submit" class="btn-main-submit js-submit-in visually-hidden">
      Sign in
    </button>
  </form>
  <div class="form-section">
    <button type="button" class="btn-12 btn-up-form js-up">Sign up</button>

    <button type="button" class="btn-12 btn-in-form js-in">Sign in</button>
  </div>
</div>
